<div class="container" *ngIf="!loggedInuser">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Login</div>
      </div>

      <div style="padding-top:30px" class="panel-body">

        <div *ngIf="inValid" id="login-alert" class="alert alert-danger col-sm-12">Please enter valid credentials.</div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="loginform" class="form-horizontal">

          <div style="margin-bottom: 25px" class="form-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="login-username" (click)="inValid=false" type="text" formControlName="username" class="form-control" name="username" 
              placeholder="username or email">
          </div>

          <div style="margin-bottom: 25px" class="form-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="login-password" (click)="inValid=false" type="password"  formControlName="password"  class="form-control" name="password" placeholder="password">
          </div>


          <div style="margin-top:10px" class="form-group">
            <div class="col-sm-12 controls" >
              <button id="btn-login" class="btn btn-lg btn-success">Login </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>